<%include ../partials/header %>


	
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to DogShare</h1>
			<p>View dogs from all over the world</p>
			<p>
				<a class="btn btn-primary btn-lg" href = "/dogs/new">Add New Dog</a>
			</p>
		</div>
	</header>

	<div class = "row text-center" style="display:flex; flex-wrap: wrap;">
		<% dogs.forEach(function(dog){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src ="<%= dog.image %>">
				<div class="caption">
					<h4><%= dog.name %></h4>
				</div>
				<p>
					<a href="/dogs/<%= dog._id %>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
		<% }) %>
	</div>	
</div>

<%include ../partials/footer %>